[Section_One]
Nombre = Read Parameters
Autor = Edoardo Odorico ;and a comment
Data = 20/10/2015 ;
Version = 0.0.1 ;
Descrpcion = Aplicacion para leer los parametros
;I can insert comments with equal too = and they will be ignored

This could be the fourth = 4 ;

[Section Two]
BThis is parameter one = a value  
BThis should be the two = another value ;and a comment
BThis could be the third = 3 ;
